/* Colors : 
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
*/

/* body, main, section, article - .sedans, .suvs, .luxury, img, h1, p, 
button - .sedans-button, .suvs-button, .luxury-button  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

main {
  min-height: 400svh;
  max-width: 100%;
  padding: 100px;
  align: center;
}

section {
  display: flex;
  align-items: center;
}

/* Article classes */
.sedans {
  background-color: hsl(31, 77%, 52%);
  min-height: 400px;
  max-width: 200px;
  padding: 20px;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  min-height: 400px;
  max-width: 200px;
  padding: 20px;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  min-height: 400px;
  max-width: 200px;
  padding: 20px;
}

img {
}

h1 {
  font-size: 20px;
  color: white;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

/* Button classes */
.sedans-button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  border-color: hsl(0, 0%, 95%);
  box-shadow: none;
  padding: 10px;
  color: hsl(31, 77%, 52%);
  margin-top: 30px;
  margin-bottom: 20px;
  align: center;
}
.suvs-button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  border-color: hsl(0, 0%, 95%);
  box-shadow: none;
  padding: 10px;
  margin-top: 45px;
  margin-bottom: 20px;
  color: hsl(184, 100%, 22%);
  align: center;
}
.luxury-button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  border-color: hsl(0, 0%, 95%);
  box-shadow: none;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: hsl(179, 100%, 13%);
  align: center;
}
